
article > ul, article .noListPadding > ul {
    padding-left: 0px !important;
    margin-left: 0px !important;
}

article ul > li {
    list-style: none;
    list-style-type: none;
    margin-bottom: 1em;
}

article ul > li:before {
    content: "";
}

slides > slide:not(.nobackground):before {
    background: none;
}

.quoteLink a, .thank-you-slide a {
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
    text-decoration: none;
}

.title-slide hgroup h1 {
	color: #000;
}

.title-slide hgroup h2 {
	color: #786762;
}

slides slide h2 {
    color: #786762;
}

slides slide {
	font-family: 'Georgia';
    color: #000;
}

slides slide.thank-you-slide {
    background: #000 !important;
	color: #C9C0B5 !important;
}

a, .quoteLink a, .thank-you-slide a {
    color: #FF5555;
    border-bottom: 2px solid #FF5555;
}

slides slide.thank-you-slide aside {
    color: #000;
}

a:hover {
	color: #000 !important;
}

.quoteLink a, .thank-you-slide a:hover {
    color: #FFF !important;
}

slides slide.restartslide ol li {
    margin: 0;
    padding: 0.4em 0;
    list-style-type: decimal;
}

span.example {
    float: right;
    font-size: 70%;
    position: relative;
    top: -2.5em;
    padding-right: 0.5em;
    color: black;
}

.outlineHighlight {
    font-weight: bold;
    font-size: 120%;
}

slides slide h3 {
    font-weight: bold;
}

/*.quoteLink {*/
    /*padding-left: 0px;*/
    /*padding-top: 20px;*/
/*}*/


/*.mono {*/
    /*font-family: monospace;*/
/*}*/

/*.padLeft {*/
    /*padding-left:  15px;*/
/*}*/

/*.padRight {*/
    /*padding-right: 15px;*/
/*}*/

/*slide article pre[data-lang].plain:after{*/
    /*content: 'OUTPUT'*/
/*}*/

/*slide article pre.plain span.kwd,*/
/*slide article pre.plain span.typ {*/
    /*color: #515151 !important;*/
/*}*/


/*slide article pre[data-lang].plain:after{*/
/*content: 'OUTPUT'*/
/*}*/

/*slide article pre.plain span.kwd,*/
/*slide article pre.plain span.typ {*/
/*color: #515151 !important;*/
/*}*/


aside.gdbar {
    width: 274px !important;
    height: 133px !important;
    background: rgba(19, 19, 19, 0.91) !important;
}

aside.gdbar img {
    width: 250px !important;
    height: auto !important;
    /*margin: 15px 20px !important;*/
}


/*slide.resources a {*/
    /*border: none;*/
/*}*/
